@charset "UTF-8";

/*Configurações de estilo para impressoras*/

*{
    margin: 5px;
    padding: 5px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}

main{
    width: 100%;
}