@charset "UTF-8";

/*Configurações de estilo para impressão*/

*{
    margin: 5px;
    padding: 5px;
}

html,body{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

menu{
    display: none;
}

article::after{
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com';
}