@charset "UTF-8";

/* Paleta de cores 
    #0587F7
    #04ACD6
    #10EEDE
    #04D68D
    #05F75E
*/

/* Margens
    h1: 21.44px (top/bottom)
    h2: 19.92px (top/bottom)
    p: 16px (top/bottom)
*/

/* Declarações globais */

*{
    margin: 0px;   
    padding: 0px; 
}

@font-face {
    font-family: 'Noticia Bold';
    src: url('fontes/Noticia-Bold.otf') format('opentype');
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-color: #10EEDE;    
}

header{
    padding: 20px;
    margin-bottom: 150px;
    background-image: linear-gradient(to right,#04D68D, #05F75E);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.438);
}

header > h1{
    font-family: 'Noticia Bold',sans-serif;
    font-size: 3em;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.466);
}

header > h2{
    font-family: 'Noticia Bold',sans-serif;
    font-size: 2em;
    margin-bottom: 15px;
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.486);   
}

main{
    margin: auto;
    padding: 15px;
    max-width: 1050px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
}

main > h1{
    font-family: 'Noticia Bold',sans-serif;
    font-size: 3em;
    margin-top: 50.44px;
    margin-bottom: 50.44px;   
    text-align: center; 
    color:  #0587F7;
}

main > h2{
    font-family: 'Noticia Bold',sans-serif;    
    font-size: 2em;
    margin-top: 30.92px;
    margin-bottom: 30.92px;
    color:  #04ACD6;
    text-align: left;
}
main > picture > p{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
main > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: justify;
    text-indent: 30px;
}

main > ul{
    list-style-position:inside;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    text-align: justify;
}

main > ul > li{
    margin-top: 16px;
}

main a{
    text-decoration: none;
    color:  #0587F7;
}

footer{
    padding: 20px;
    margin-top: 150px;
    background-color:  #018a5a;
    text-align: left;
}

footer > div{
    display: inline-block;
}

footer > p{
    display: inline-block;
    position: relative;
    bottom: 90px;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}